:root {
  --color-primary-1: #ffb4a2;
  --color-primary-2: #f4a261;
  --color-secondary-1: #4ebeba;
  --color-secondary-2: rgba(70, 209, 204, 0.767);

  --color-light-1: #fff;
  --color-light-2: #f3f3f4;
  --color-light-3: #f8f9fa;

  --color-gold: #866118;
  --color-grey: #808080;
  --color-dark: #2d3436;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  font-family: system-ui, Ubuntu;
}

#root {
  display: flex;
  width: 100%;
}

h2,
button,
input {
  font-family: inherit;
}

button {
  border: none;
  cursor: pointer;
  background: none;
}
